*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    text-align: left;
    background-color: #f9f9f9;
}

header nav ul {
    background-color: #200202;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

header nav ul li {
    background-color: #200202;
    margin: 0 10px; 
}

header nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    border: 2px solid #ff0000;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header nav ul li a:hover {
    font-weight: bold;
    background-color: #ff0000;
    color:#ffffff;
    transform: scale(1.2);
}

header h1 {
    color: #ffffff;
    background-color: #000000;
    border: 2px solid #ff0000;
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-block;
    margin: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header h1:hover {
    background-color: #ff0000;
    color: #000000;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #200202;
    padding: 10px;
}

.header-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header-container h1{
    font-weight: bold;
    color: #ffffff;
    background-color: #000000;
    border: 2px solid #ff0000;
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-block;
    margin: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header-container h1:hover {
    background-color: #ff0000;
    color:#000000;
}


header img{
    margin-right: 20px;
    margin-left: 20px;
}

.redes-container{
    display:flex;
    justify-items: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    margin:20px;
}

.redes-container a{
    display: block;
    margin: 10px;
    transition: transform 0.3s ease;
}

.redes-container a img {
    max-width: 300px;
    height: auto;
}

.redes-container a:hover {
    transform: scale(1.1);
}

footer {
    position:relative;
    background-color: #200202;
    color: #200202;
    padding: 20px 0;
    text-align:center;

}

.footer-container{
    background-color: #200202;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

footer div {
    background-color: #200202;
    flex: 1;
    margin: 10px;
}

footer h2 {
    color: #fff;
    background-color: #200202;
    font-size: 1.2em;
    margin-bottom: 10px;
}

footer p, footer a {
    background-color: #200202;
    font-size: 0.9em;
    color: #fff;
    text-decoration: none;
}

footer a:hover{
    color: #ff0000;
}

footer ul {
    background-color: #200202;
    list-style: none;
    padding: 0;
}

footer ul li {
    background-color: #200202;
    margin-bottom: 5px;
}

footer ul li a {
    color: #fff;
}

footer .redes-sociales img {
    width: 30px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

footer .redes-sociales img:hover{
    transform: scale(1.2);
}

.copyright{
    position:absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #200202;
}

main{

    height: 100vh;
    background: linear-gradient(to top, #200202, #3d3838, #200202);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}


